.fieldset-radio {
  margin-bottom: 19px;
  padding: 0;
  border: 0;
  border-top: @border;
}

.fieldset-radio__wrapper {
  display: block;
  .width-mobile;
  margin-top: 22px;
}

.fieldset-radio__label {
  text-transform: uppercase;
  color: @color-product__title;
}
