.fieldset-textarea {
  display: block;
  padding: 0;
  .width-mobile;
  margin-bottom: 23px;
  border: 0;

  @media (min-width: @min-width-tablet) {
    .width-tablet;
    margin: 0 67px 65px 40px;
  }

  @media (min-width: @min-width-desktop) {
    .width-desktop;
    padding: 0;
    margin-bottom: 67px;
  }
}

.fieldset-textarea__legend {
  margin-bottom: 38px;
  padding: 0;
  font-size: 24px;
  line-height: 26px;

  @media (min-width: @min-width-tablet) {
    font-size: 36px;
    line-height: 36px;
  }
}
