.composition {
  .width-mobile;
  margin-bottom: 49px;
}

.composition__title {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: @color-basic;
}

.composition__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.composition__item {
  margin-left: 80px;
}

.composition__text {
  font-family: @font-lato;
  color: @color-lato;
}
