.slider__list {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider__image {
  display: block;

  @media (min-width: @min-width-tablet) {
    display: block;
    width: 280px;
    height: auto;
    margin: 0 auto;
  }
}

.slider__button {
  position: absolute;
  left: 49%;
  top: 0;
  width: 4px;
  height: 256px;
  padding: 0;
  background-color: @fill;
  border: none;
  border-radius: 2px;

  &:hover {
    background-color: @back-color-btn-and-die;
  }

  &:hover .slider__image {
    fill: @back-color-btn-and-die;
    border: @border-current;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: @min-width-tablet) {
    left: 50%;
    height: 512px;
  }
}

.slider__button-image {
  position: absolute;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
  left: -18px;
  fill: @fill;
  padding: 9px 6px;
  background-color: @back-color-basic;
  border: 2px solid @fill;
  border-radius: 20px;

  &:hover {
    fill: @back-color-btn-and-die;
    border: @border-current;
  }
}
