.footer-container {
  background-color: @back-color-secondary;
}

.footer-container__wrapper {
  padding: 39px 0 22px 0;
  .width-mobile;
}

.footer-container__logo {
  display: block;
  margin-bottom: 32px;
  text-align: center;
}
