.footer-container {
  background-color: @back-color-secondary;
}

.footer-container__wrapper {
  .width-mobile;
  padding: 39px 0 22px 0;

  @media (min-width: @min-width-tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    .width-tablet;
    padding: 58px 0 55px 0;
  }

  @media (min-width: @min-width-desktop) {
    .width-desktop;
    padding: 66px 50px;
  }
}

.footer-container__logo {
  display: block;
  margin-bottom: 18px;
  text-align: center;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: @min-width-tablet) {
    margin: 0;
  }
}

.footer-container__logo-image-text {
  @media (min-width: @min-width-tablet) {
    width: 142px;
    height: 26px;
  }
}
