.additional__wrapper {
  width: 280px;
  margin: 0 auto;
}

.additional__title {
  margin: 0;
  margin-bottom: 13px;
  padding-bottom: 36px;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: @color-basic;
  border-bottom: @border;
}

.additional__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.additional__item {
  margin-bottom: 13px;
  border-bottom: @border;

  &--back {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../img/catalog/decor/catalog-cat-back.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
  }

  &:last-child {
    margin-bottom: 35px;
  }
}

.additional__item-title {
  margin: 0;
  margin-bottom: 13px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @color-product__title;
}

.additional__text {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: @color-lato;
}

