.additional {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 14px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: @back-color-btn-and-die;
    z-index: -1;

    @media (min-width: @min-width-tablet) {
      top: 23px;
    }
  }
}

.additional__wrapper {
  .width-mobile;
  padding-top: 35px;

  @media (min-width: @min-width-tablet) {
    .width-tablet;
    padding-top: 80px;
  }

  @media (min-width: @min-width-desktop) {
    display: flex;
    justify-content: space-between;
    .width-desktop;
    margin-bottom: 86px;
    padding-top: 81px;
  }
}

.additional__title {
  display: inline-block;
  width: 70.6%;
  padding: 0 6.25%;
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: @color-basic;
  background-color: @back-color-basic;

  @media (min-width: @min-width-tablet) {
    width: 44.03%;
    margin: 0 3.91%;
    padding: 0 4.69% 0 4.82%;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: @min-width-desktop) {
    margin: 0 70px;
    padding: 0 35px 0 40px;
  }
}

.additional__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.additional__items-span {
  @media (min-width: @min-width-desktop) {
    margin-right: 80px;
  }
}

.additional__item {
  margin-bottom: 13px;
  border-bottom: @border;

  @media (min-width: @min-width-tablet) {
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 23px;
    align-items: center;
    margin-bottom: 0;
    padding: 26px 5.37% 28px;
  }

  @media (min-width: @min-width-desktop) {
    display: grid;
    grid-template-columns: 325px 325px 244px;
    padding: 15px 0 16px;
  }

  &--back {
    position: relative;
    min-height: 290px;
    padding-top: 187px;
    box-sizing: border-box;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog/decor/catalog-cat-back@1x.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 60%;
    z-index: -1;

    @media (min-width: 450px) and (max-width: 767px) {
      background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog/decor/catalog-cat-back.png");
    }

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog/decor/catalog-cat-back.png");
    }

    &::before {
      position: absolute;
      content: "";
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      top: 59px;
      width: 78px;
      height: 80px;
      background-image: url("../img/catalog/decor/present.svg");

      @media (min-width: @min-width-tablet) {
        top: 57px;
        left: 77px;
        margin: 0;
      }
    }

    @media (min-width: @min-width-tablet) {
      min-height: 200px;
      padding: 71px 124px 69px 422px;
    }

    @media (min-width: @min-width-desktop) {
      width: 245px;
      padding: 185px 43px 42px 41px;
    }
  }

  &:first-child {
    border-top: @border;
    padding-top: 13px;

    @media (min-width: @min-width-tablet) {
      padding-top: 26px;
    }

    @media (min-width: @min-width-desktop) {
      padding-top: 15px;
    }
  }

  &:last-child {
    margin-bottom: 35px;

    @media (min-width: @min-width-tablet) {
      margin-bottom: 73px;
    }

    @media (min-width: @min-width-desktop) {
      margin: 0;
    }
  }
}

.additional__item-title {
  margin: 0;
  margin-bottom: 13px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @color-product-title;

  @media (min-width: @min-width-tablet) {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0;
  }
}

.additional__item-title-all {
  width: 161px;
  margin: 0 auto;
  font-family: @font-lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: @color-secondary;

  @media (min-width: @min-width-tablet) {
    text-align: start;
  }

  @media (min-width: @min-width-desktop) {
    margin: 0;
    text-align: center;
  }
}

.additional__wrapper-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 15px;

  @media (min-width: @min-width-tablet) {
    display: grid;
    grid-template-columns: 70% 30%;
    margin-bottom: 0;
  }

  @media (min-width: @min-width-desktop) {
    grid-template-columns: 75% 25%;
  }
}

.additional__text {
  font-family: @font-lato;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: @color-lato;

  @media (min-width: @min-width-tablet) {
    font-size: 16px;
    line-height: 20px;
    text-align: end;
  }

  @media (min-width: @min-width-desktop) {
    text-align: start;
    margin: 0;
  }
}

.additional__link {
  .link-basic ();
  margin-bottom: 18px;
  padding: 7px;
  box-sizing: border-box;

  @media (min-width: @min-width-tablet) {
    grid-column: 1/3;
    margin-bottom: 0;
  }

  @media (min-width: @min-width-desktop) {
    grid-column: 3/4;
    width: 244px;
    margin-bottom: 0;
  }
}
