.products {
  margin-bottom: 25px;

  @media (min-width: @min-width-tablet) {
    margin-bottom: 68px;
  }

  @media (min-width: @min-width-desktop) {
    margin-bottom: 75px;
  }
}

.products__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: @min-width-tablet) {
    display: grid;
    grid-template-columns: repeat(2, 324px);
    gap: 60px;
    margin: 0 30px;
    justify-content: space-between;
  }

  @media (min-width: @min-width-desktop) {
    grid-template-columns: repeat(4, 245px);
    gap: 80px;
    row-gap: 0;
    margin: 0 110px;
  }
}

.products__item {
  margin-bottom: 8px;
  padding-bottom: 24px;

  @media (min-width: @min-width-tablet) {
    margin-top: 80px;
    margin-bottom: 0;
    padding: 0;
  }

  @media (min-width: @min-width-desktop) {
    margin-top: 143px;
    margin-bottom: 0;
  }
}

.products__more {
  position: relative;
  padding: 70px 0 24px 0;

  &::after {
    position: absolute;
    content: "";
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 17px;
    width: 30px;
    height: 30px;
    background-image: url("../../img/catalog/decor/plus.svg");

    @media (min-width: @min-width-tablet) {
      top: 52px;
      width: 60px;
      height: 60px;
      background-image: url("../../img/catalog/decor/plus@2x.svg");
    }
  }

  @media (min-width: @min-width-tablet) {
    box-sizing: border-box;
    border: @border;
    padding: 0;
    margin-top: 80px;
  }

  @media (min-width: @min-width-desktop) {
    margin-top: 143px;
    margin-bottom: 0;
  }
}
