.product {
  border-bottom: @border;

  @media (min-width: @min-width-tablet) {
    border: none;
    box-sizing: border-box;
  }
}

.product__width {
  .width-mobile;
  display: grid;
  grid-template-columns: 50% 25% 25%;
  align-items: center;

  @media (min-width: @min-width-tablet) {
    width: 324px;
    min-height: 430px;
    box-sizing: border-box;
    grid-template-columns: 100%;
    padding: 0 37px 39px 37px;
    background-color: @back-color-secondary;
  }

  @media (min-width: @min-width-desktop) {
    width: 245px;
  }

  &--more {
    display: block;

    @media (min-width: @min-width-tablet) {
      display: grid;
      box-sizing: border-box;
      padding: 161px 37px 39px 37px;
      margin: 0;
      background-color: @back-color-basic;
    }
  }
}

.product__wrapper-image {
  display: flex;
  justify-content: center;
  align-items: center;
}


.product__image {
  display: flex;
  grid-column: 1;
  grid-row: 1/ span 2;
  justify-self: center;

  @media (min-width: @min-width-tablet) {
    width: 161px;
    height: auto;

    &--max {
      width: 168px;
      height: auto;
    }
  }
}

.product__title {
  width: 76px;
  grid-column: 2/3;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @color-product-title;

  &--more {
    width: 100%;
    color: @color-extra;
    text-align: center;

    @media (min-width: @min-width-tablet) {
      margin: 0 auto;
    }
  }

  @media (min-width: @min-width-tablet) {
    width: 150px;
    grid-column: 1;
    font-size: 20px;
    line-height: 24px;
    justify-self: center;
    text-align: center;
  }
}

.product__table {
  grid-row: 2;
  grid-column: 2/ span 2;
  font-family: @font-lato;
  font-size: 12px;
  line-height: 16px;
  color: @color-lato;
  border-collapse: collapse;

  @media (min-width: @min-width-tablet) {
    font-size: 16px;
    grid-column: 1;
    grid-row: 3;
  }
}

.product__td {
  @media (min-width: @min-width-tablet) {
    padding: 7px 0 9px 0;
    border-bottom: @border-example;
  }

  &--align {
    text-align: end;
  }
}

.product__link {
  grid-row: 3;
  grid-column: 1/4;
  .link-basic ();
  font-size: 16px;
  line-height: 20px;
  margin-top: 15px;

  &--more {
    color: @color-lato;
    background-color: @back-color-secondary;

    &:hover {
      background-color: #ebebeb;
    }

    &:active {
      color: @color-lato;
      background-color: #ebebeb;
      opacity: 0.3;
    }
  }

  @media (min-width: @min-width-tablet) {
    grid-column: 1;
    grid-row: 4;
    align-self: end;
  }
}

.product__text {
  font-family: @font-lato;
  font-size: 12px;
  line-height: 16px;
  color: @color-lato;

  @media (min-width: @min-width-tablet) {
    font-size: 16px;
    line-height: 16px;
  }

  &--more {
    text-align: center;

    @media (min-width: @min-width-tablet) {
      width: 170px;
      margin: 0 auto;
    }
  }
}
