.main-header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  min-height: 38px;
  margin: 10px auto 0 auto;

  &--margin-bottom {
    margin-bottom: 17px;
  }

  @media (min-width: @min-width-tablet) {
    .width-tablet;
    justify-content: space-between;
    min-height: 51px;
    margin: 0 auto 64px auto;
  }

  @media (min-width: @min-width-desktop) {
    .width-desktop;
    min-height: 59px;
    margin: 53px 60px 74px 60px;
    padding: 0 50px;
  }
}

.main-header__link-logo {
  display: flex;
  align-items: center;
  padding-left: 6.25%;
  width: 10%;

  @media (min-width: @min-width-tablet) {
    padding-left: 0;
  }
}

.main-header__logo-image {
  display: block;

  @media (min-width: @min-width-tablet) {
    display: block;
    width: 174px;
    height: auto;
  }

  @media (min-width: @min-width-desktop) {
    display: block;
    width: 202px;
    height: auto;
  }

  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }
}

.main-header__link-logo-text {
  display: block;
  width: 67%;
  text-align: center;
  margin-top: 8px;

  @media (min-width: @min-width-tablet) {
    display: none;
  }
}
